<h2  *ngIf="isadminloggedin" >ManageRoutes</h2>
<h2  *ngIf="!isadminloggedin" >ViewRoutes</h2>
<button *ngIf="isadminloggedin"  nz-button nzType="primary" (click)="submitadd()">add</button>
&nbsp; 
&nbsp; 
<nz-table class="table" #basicTable >
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Distance in km</th>
        <th *ngIf="isadminloggedin" >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.from}}</td>
        <td>{{i.to}}</td>
        <td>{{i.distance}}</td>
        <td> <button *ngIf="isadminloggedin" nz-button nzType="primary"(click)="deleteroute(i.routeid)" nzDanger>Delete</button> &nbsp; <button *ngIf="isadminloggedin" nz-button (click)="showModalMiddle(i)"nzType="primary">Update</button></td>
      </tr>
    </tbody>
</nz-table>



<nz-modal
  [(nzVisible)]="isVisibleMiddle"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelMiddle()"
>
  <ng-template #modalTitle>Update Driver</ng-template>
   
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitupdateForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Source</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="please input source">
          <input nz-input [ngModel]="datanew.from"formControlName="source" id="source" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Destination</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your destination!">
          <input
            nz-input
            id="destination"
            formControlName="destination"
            [ngModel]="datanew.to"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkpassword" nzRequired>Distance</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Distance!">
          <input
            nz-input
            id="distance"
            formControlName="distance"
            [ngModel]="datanew.distance"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
    <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelMiddle()">cancle</button>
    <button nz-button nzType="primary" (click)="submitupdateForm()" [disabled]="!validateForm.valid" > Submit</button>
  </ng-template>
</nz-modal>