<h2>Managedrivers</h2>
<button *ngIf="isadminloggedin" nz-button nzType="primary" (click)="submitadd()">add</button>
&nbsp; 
&nbsp; 
<nz-table class="table" #basicTable >
    <thead>
      <tr>
        <th>Name</th>
        <th>number</th>
        <th>license</th>
        <th>status</th>
        <th *ngIf="!isadminloggedin">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.drivername}}</td>
        <td>{{i.mobilenumber}}</td>
        <td>{{i.licensenumber}}</td>
        <td *ngIf="i.status==='unavailable'"><button  nz-button nzType="primary" nzDanger>{{i.status}}</button></td>
        <td  *ngIf="i.status==='available'"><button class="statusbutton"nz-button  >{{i.status}}</button></td>
        <td> <button nz-button nzType="primary"(click)="deletedriver(i.driverid)" nzDanger>Delete</button> &nbsp; <button nz-button (click)="showModalMiddle(i)"nzType="primary">Update</button></td>
      </tr>
    </tbody>
  </nz-table>


<nz-modal
  [(nzVisible)]="isVisibleMiddle"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelMiddle()"
>
  <ng-template #modalTitle>Update Driver</ng-template>
   
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitupdateForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">drivername</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="plase input drivername">
          <input nz-input [ngModel]="datanew.drivername"formControlName="drivername" id="drivername" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>mobilenumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your mobilenumber!">
          <input
            nz-input
            id="mobilenumber"
            formControlName="mobilenumber"
            [ngModel]="datanew.mobilenumber"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkpassword" nzRequired>licensenumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your licensenumber!">
          <input
            nz-input
            id="licensenumber"
            formControlName="licensenumber"
            [ngModel]="datanew.licensenumber"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
    <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelAdd()">cancle</button>
    <button nz-button nzType="primary" (click)="submitupdateForm()" [disabled]="!validateForm.valid" > Submit</button>
  </ng-template>
</nz-modal>









<!-- <nz-modal
  [nzVisible]="isvisibleadd"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelAdd()"
>
  <ng-template #modalTitle>Add Driver</ng-template>
   
  <ng-template #modalContent>
    <form nz-form [formGroup]="addformgroup" (ngSubmit)="submitAddform()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">drivername</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="plase input drivername">
          <input nz-input formControlName="drivername" id="drivername" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>mobilenumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your mobilenumber!">
          <input
            nz-input
            id="mobilenumber"
            formControlName="mobilenumber"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkpassword" nzRequired>licensenumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your licensenumber!">
          <input
            nz-input
            id="licensenumber"
            formControlName="licensenumber"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
    <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelMiddle()">cancle</button>
    <button nz-button nzType="primary" (click)="submitupdateForm()" [disabled]="!validateForm.valid" > Submit</button>
  </ng-template>
</nz-modal>


 -->

