<div class="parent">
    <nz-layout class="nz-layout">
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="User" nzIcon="user">
            <ul>
              <li nz-menu-item    [routerLink]="['/dashboard/changepassword']" routerLinkActive="active">change password</li>
            </ul>
          </li>
           
      
          <li *ngIf="isadminloggedin" routerLink="/dashboard/managedrivers" nz-menu-item >
            <span nz-icon  nzType="appstore"></span>
            <span>Manage Drivers</span>
          </li>
          <li *ngIf="isadminloggedin" routerLink="/dashboard/manageroutes"nz-menu-item >
            <span nz-icon nzType="reconciliation"></span>
            <span>Manage routes</span>
          </li>
          <li *ngIf="!isadminloggedin" routerLink="/dashboard/manageroutes"nz-menu-item >
            <span nz-icon nzType="reconciliation"></span>
            <span>view routes</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/managevehicles"*ngIf="isadminloggedin" >
            <span nz-icon nzType="account-book"></span>
            <span>Manage Vehicles</span>
          </li>
          <li nz-menu-item routerLink="/dashboard/managevehicles"*ngIf="!isadminloggedin" >
            <span nz-icon nzType="account-book"></span>
            <span>View Vehicles</span>
          </li>
          <li nz-menu-item  routerLink="/dashboard/managebookings" *ngIf="isadminloggedin">
            <span nz-icon nzType="shopping"></span>
            <span>ViewBookings</span>
          </li>
          <li nz-menu-item  routerLink="/dashboard/createbooking" *ngIf="!isadminloggedin">
            <span nz-icon nzType="shopping"></span>
            <span>create Booking</span>
          </li>
          <li nz-menu-item  routerLink="/dashboard/mybookings" *ngIf="!isadminloggedin">
            <span nz-icon nzType="shopping"></span>
            <span>View Bookings</span>
          </li>
         
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </nz-header>
        <div class="page-content-container">
          <router-outlet></router-outlet>
        </div>
      </nz-layout>
     
    
    </nz-layout>
  </div>
  


  <!-- put in nz-menu items next too iy
  [routerLink]="['/dashboard/changepassword']"
  routerLink="/dashboard/manageproduct"
  routerLink="/dashboard/manageusers"
  routerLink="/dashboard/managecategory"
  routerLink="/dashboard/managebill"
  routerLink="/dashboard/details"
  routerLink="/dashboard/manageorder" -->